# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporal files
*.~

#Visual Studio files
*.opensdf
*.sdf

# Directory of objects
ipch/
ipch/*
Debug/
Debug/*
Release/
Release/*
*/Debug/
*/Debug/*
*/Release/
*/Release/*
